{% extends 'base.html.twig' %}

{% block title %}Page DÉTAILS{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Détails |{{ ad.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_ads_index')}}">Profil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Détails</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ ad.imageUrl }}" class="img-fluid rounded-start" alt="Image de l'annonce">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.title }}</h5>
                        <p class="card-text">{{ ad.description }}</p>
                        <p class="card-text">
                            <small class="text-body-secondary">Ville émettrice de l'annonce</small>
                            <small class="text-body-secondary">yassine chabab</small>
                        </p>
                        {{ include('ads/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
